/* ArticleList.css */
.article-list {
  margin-top: 20px;
  text-align: center;
}

.article-container {
  background-color: #fff; /* White background color */
  display: inline-block; /* Center the container */
  padding: 20px; /* Add padding for spacing */
}

.article-list h2 {
  font-size: 1.5em;
  color: #333;
}

.article-list ul {
  list-style: none;
  padding: 0;
}

.article-list li {
  margin-bottom: 10px;
}

.article-list a {
  color: #007bff;
  text-decoration: none;
}

.article-list a:hover {
  text-decoration: underline;
}
